header {
    background-color: #FFF75D;
    color:rgb(255, 255, 255)
}

footer {
    background-color: #A10100;
    color: white;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

a {
    text-decoration: none !important;
    color: #202528 !important;
}

.home_icon {
    height: 10%;
}
.presentation_autor {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFC11F;
}
.presentation_informations {
    width: 50%;
    margin: 10px;
}
#profil_picture {
    height: 200px;
    border-radius: 20px;

}

.finished_project_section {
    background-color: #FE650D;
}
.ongoing_project_section {
    background-color:#F33C04 ;
}
.planned_project_section {
    background-color:#DA1F05 ;
}

.finished_project_presentation_title,
.ongoing_project_presentation_title,
.planned_project_presentation_title {
    text-align: center;
}
.finished_project_presentation,
.ongoing_project_presentation,
.planned_project_presentation {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.background_color_changer{
    height: 200px;
    border: solid 3px;
    border-radius: 50px;
}
.background_color_changer_button {
    border-radius: 5px;
    background-color: #a0f1e4;
}