/* commun à toutes les pages */
header {
    background-color: #FFF75D;
    color:rgb(255, 255, 255)

}

footer {
    background-color: #A10100;
    color: white;
    height: 25px;
}

a {
    text-decoration: none !important;
    color: #202528 !important;
}

.home_icon {
    height: 10%;
}
nav {
    display: flex;
    justify-content: space-evenly;
}


/* css de la page d'accueuil */
.presentation_autor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFC11F;
}
.presentation_informations {
    width: 50%;
    margin: 10px;
}
#profil_picture {
    height: 200px;
    border-radius: 20px;

}

.finished_project_section {
    background-color: #FE650D;
}
.ongoing_project_section {
    background-color:#F33C04 ;
}
.planned_project_section {
    background-color:#DA1F05 ;
    padding-bottom: 25px;
    position: relative;
    min-height: 100vh;

}

.finished_project_presentation_title,
.ongoing_project_presentation_title,
.planned_project_presentation_title {
    text-align: center;
}
.finished_project_presentation,
.ongoing_project_presentation,
.planned_project_presentation {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

/* css de la page background color changer */
 #main_color_changer {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
}

#section_letter_counter{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
#input{
    width: 75%;
}

